.messages {
  flex: 1;
  background-color: #1d1d1f;
  height: 100vh;
  color: #d3d3d3;
  display: flex;
  flex-direction: column;
}

.messages__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #2a2a2c;
  background-color: #1d1d1f;
}

.messages__headerLeft {
  margin-left: 1rem;
}

.messages__headerName {
  font-size: 1.2rem;
  cursor: pointer;
}

.messages__headerName:hover {
  color: #fff;
}

.messages__headerRight {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-right: 1em;
  gap: 1.5rem;
}

.messages__headerIcons {
  transform: scale(0.9);
  margin: 0.5rem;
  cursor: pointer;
  color: grey;
}

.messages__headerIcons:hover {
  color: #fff;
}

.messages__content {
  overflow: scroll;
}

.messages__contentChat {
  position: relative;
  padding: 1em;
  padding-block: 0.8em;
  margin: 1em;
  margin-block: 2em;
  width: max-content;
  background-color: #2f2f2f;
  border-radius: 2rem;
}

.messages__contentChat > span {
  position: absolute;
  top: -35%;
  font-size: 10px;
  color: #fff;
}

.messages__contentChatReceiver {
  background-color: #76cd76;
  color: black;
  margin-left: auto;
}

.messages__content::-webkit-scrollbar {
  display: none;
}

.messages__messageContent {
  display: flex;
  background-color: #1d1d1f;
  border-top: 2px solid #2a2a2c;
  padding: 0.5rem 0;
}

.messages__messageLeft {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: 1em;
}

.messages__messageForm {
  display: flex;
  align-items: center;
  margin-left: 1em;
  margin-right: 4em;
  flex: 2;
}

.messages__messageLeft {
  gap: 1rem;
}

.messages__messageForm input {
  background: transparent;
  outline: none;
  border: none;
  color: #fff;
  font-size: 1rem;
  flex: 2;
}

.messages__messageSendButton {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  padding-top: 0.3rem;
}

.messages__messageSendButton:hover {
  background: #2a2a2c;
}

.messages__sendIcons {
  color: #fff;
}

.messages__messageIcons {
  transform: scale(0.9);
  cursor: pointer;
  color: grey;
}

.messages__messageIcons:hover {
  color: #fff;
}

.messages__smileIcon {
  margin-left: 1em;
}

/* .messages__message {
  position: fixed;
  bottom: 0;
  min-height: 10vh;
  width: 100%;
  background-color: #1d1d1f;
  z-index: 100;
  border-top: 2px solid #2a2a2c;
  padding: 0.5rem 0;
  border: 5px solid white;
  display: flex;
} */

/* .messages__messageContent {
  display: flex;
  align-items: center;
  margin-right: 2rem;
  border: 2px solid lightcoral;
} */
