.login {
  width: 100%;
  /* max-width: 30rem; */
  /* margin-inline: auto; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #2a2a2c;
  color: white;
  box-shadow: 0rem 0rem 2rem 2rem rgba(0, 0, 0, 0.5);
  margin: auto auto;
}

@media (min-width: 40rem) {
  .login {
    flex-direction: row;
    max-width: 40rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
